@charset "UTF-8";
/* ---------- mainVisual ---------- */
.mainVisual {
  background-image: url("../../../img/top_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mainVisual h2 {
  background-color: rgba(0, 0, 0, 0.03);
}

.mainVisual h2 .logo {
  width: 150px;
}

/* ---------- mainVisual ---------- */
/* ---------- main ---------- */
.m-contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

h3 {
  /* 緑の棒 */
  /* 緑の棒 */
}

h3::before {
  content: "";
  width: 5px;
  height: 28px;
  background: rgba(87, 255, 207, 0.7);
  border-radius: 45px;
  position: absolute;
  top: calc(50% + 2px);
  left: -.5em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.m-contents section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.m-contents section .linkButton {
  width: 150px;
  padding: 20px 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: #555555;
  background-image: -webkit-linear-gradient(305deg, #ffffff, #fafafa, #f5f5f5, rgba(87, 255, 207, 0.5));
  background-image: linear-gradient(145deg, #ffffff, #fafafa, #f5f5f5, rgba(87, 255, 207, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-right: 1px solid #57FFCE;
  border-bottom: 1px solid #57FFCE;
  -webkit-box-shadow: 4px 4px 8px rgba(53, 53, 53, 0.3);
          box-shadow: 4px 4px 8px rgba(53, 53, 53, 0.3);
  text-align: center;
}

/* 緑の三角形 */
.m-contents:nth-of-type(odd) .contents-img {
  position: relative;
}

.m-contents:nth-of-type(odd) .contents-img::before {
  content: "";
  width: 60%;
  height: 130%;
  background: #57FFCE;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 100% 0);
  position: absolute;
  top: -24px;
  left: -24px;
  z-index: -1;
}

.m-contents:nth-of-type(even) .contents-img {
  position: relative;
}

.m-contents:nth-of-type(even) .contents-img::before {
  content: "";
  width: 60%;
  height: 130%;
  background: rgba(87, 255, 207, 0.7);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
  position: absolute;
  top: -24px;
  right: -24px;
  z-index: -1;
}

/* 緑の三角形 */
/* ---------- main ---------- */
/* ---------- consept ---------- */
.consept section p {
  line-height: 2;
  text-align: justify;
  text-indent: 1em;
  color: #555555;
}

/* ---------- consept ---------- */
@media screen and (min-width: 600px) {
  /* ---------- main ---------- */
  .m-contents {
    width: 100%;
    height: 80vw;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .m-contents section {
    width: 40%;
    max-width: 400px;
    /* height: 200px; */
    padding: 32px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 2;
  }
  .m-contents section h3 {
    margin-top: 0;
  }
  .m-contents .img-wrap {
    width: 60%;
    position: absolute;
    z-index: 1;
  }
  .m-contents:nth-of-type(odd)::after {
    content: "";
    width: 30%;
    height: 10%;
    background-image: url("../../../img/muscat-leafs.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 72px;
    right: 16px;
  }
  .m-contents:nth-of-type(odd) section {
    right: 10%;
  }
  .m-contents:nth-of-type(odd) .img-wrap {
    left: 32px;
  }
  .m-contents:nth-of-type(even) {
    background-color: #ececec;
  }
  .m-contents:nth-of-type(even)::after {
    content: "";
    width: 30%;
    height: 10%;
    background-image: url("../../../img/green-leaf.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 72px;
    left: 16px;
  }
  .m-contents:nth-of-type(even) section {
    left: 10%;
  }
  .m-contents:nth-of-type(even) .img-wrap {
    right: 32px;
  }
  .m-contents section a {
    -webkit-transition: .2s;
    transition: .2s;
  }
  .m-contents section a:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  /* ---------- main ---------- */
  /* ---------- consept ---------- */
  .consept section {
    width: 50%;
  }
  .consept section p {
    font-size: 1.3rem;
    line-height: 2;
    text-align: justify;
    text-indent: 1em;
    color: #555555;
  }
  /* ---------- consept ---------- */
}
